
.page {
margin: 0 auto;
width: 1100px;
height: 6000px;
background-color: salmon;
}


h1 {
  font-size: 200px;
  margin-top: 20px;
  margin-bottom: 0px;
}


.banner {
  background-color: lightblue;
  height:400px;

}
